body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: start;
  heigth: 100vh;
  margin: 0;
}

.autoportret {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  margin-top: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
