body {
  display: flex;
  justify-content: center;
  align-items: start;
  heigth: 100vh;
  margin: 0;
  background-color: black;
}

.grid {
  position: absolute;
  top: calc(50% + 5px);
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(4, 500px);
  grid-auto-rows: 1000px;
  grid-gap: 5px;
  grid-auto-flow: dense;
}

/*
.big {
  grid-column: span 4;
  grid-row: span 2;

}*/
