body {
  background-color: black;
}

.autoportret {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}
